.background{
    /* background: url(./2\ pro\ img/2proimg 1.jpeg);  */
    /* background-color: blueviolet; */
    background-image:url(./2\ pro\ img/2proimg1.jpeg);
    background-size: 100%;
    
    padding: 50px 50px; 
    background-repeat: no-repeat; 
}
@media (max-width: 760px) {
    .background{
        width: 1000px;
    }

}
.secone{
    display: flex;
    /* background-color: blueviolet; */
    
}
@media (max-width: 760px) {
    .secone{
        display: flex;
    }
}
.flexleft{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    padding-left: 110px;
    text-decoration: solid;
}
@media (max-width: 760px) {
    .flexleft{
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-size: 15px;
        padding-left: 30px;
        text-decoration: solid;
    }
}
.secone ul li, a{
    list-style-type: none;
    display: inline-block;
    padding-right: 5px; 
    text-decoration: none;
    color: rgb(17, 1, 1);
}
@media (max-width: 760px) {
    .secone ul li, a{
        list-style-type: none;
        display: inline;
        text-decoration: none;
        color: rgb(243, 231, 231);

    }
}
.flexright{
    padding-top: 5px;
    padding-left: 330px;
}
@media (max-width: 760px) {
    .flexright{
        padding-left: 300px;
    }
}
.sec1bood{
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 550px;
    margin-left: 110px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 500; */
}
@media (max-width: 760px) {
    .sec1bood{
        height: 140px;
        width: 320px;
        padding-left: 5px;
    }
    
}
.sec1bood h2{
    font-size: 40px; 
    font-family:  Arial, Helvetica, sans-serif; 
    color: white;
    padding: 12px 50px;
    font-weight: 10;
}
@media (max-width: 760px) {
    .sec1bood h2{
        font-size: 30px;
        padding-left: 10px;
    }
}

.sec2background{
    background-color: rgb(255, 255, 255);
}
.sec2right img{
    width: 600px;
    padding-left: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (max-width: 760px) {
    .sec2background img{
        width: 550px; 
        padding-left: 120px;
        padding-top: 40px;
    }

}
.sec2left{
    /* border: 2px solid black;   */
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 350px;
    padding: 50px 50px;
    background-color:white;
    position: absolute;
    left: 600px;
    top: 800px;
}
@media (max-width: 760px) {
    .sec2left{
        left: 490px;
        top: 680px;
    }
}
.sec2left h2{
    color: rgb(0, 0, 0); 
    font-family: sans-serif;
    font-size: 40px;
}
@media (max-width: 760px) {
    .sec2left h2{
        font-size: 40px;
    }
}
.sec2left p{
    color: rgb(128, 128, 218);
    position: absolute;
    top: 160px;
}
@media (max-width: 760px) {
    .sec2left p{
        top: 150px;
    }
}
.sethree{
    display: flex;
}
.secthreeright{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 140px;
    text-decoration: solid;
}
@media  (max-width: 760px) {
    .secthreeright{
        font-size: 10px;
        display: inline-block;
    }
}
.secthreerleft{
    padding-left: 650px;
    padding-top: 30px;
}
.secthreerleft button{
    border-color: rgb(128, 128, 218);
}

.secfour{
    width: 100px; 
    padding-left: 140px;
}
@media  (max-width: 760px) {
    .secfour{
        justify-content: space-around;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    height: 140vh;
    width: 81vw;
}
@media (max-width: 760px){
    .grid{
        width: 800px;


    }
    
}

.img1{
    background-image: url(./2\ pro\ img/2pro3.jpeg);
    position: relative;
    background-repeat: no-repeat;

    
}  
/* .img1 p{
    position: absolute;
    top: 80%;
    left: 20px;
} */

.img2 {
    background-image: url(./2\ pro\ img/2pro4.jpeg);
    position: relative;
    background-repeat: no-repeat;
} 
/* .img2 p{
    position: absolute;
    top: 80%;
    left: 20px;
} */
.img3 {
    background-image: url(./2\ pro\ img/imagered.jpg);
    position: relative;
    background-repeat: no-repeat;

} 
/* .img3 p{
    position: absolute;
    top: 80%;
    left: 20px;
}   */
.img4 {
    background-image: url(./2\ pro\ img/2pro5.jpeg);
    position: relative;
    background-repeat: no-repeat;

} 
/* .img4 p{
    position: absolute;
    top: 80%;
    left: 20px;
} */
.img5{
    background-image: url(./2\ pro\ img/2pro6.jpeg);
    position: relative;
    background-repeat: no-repeat;

} 
/* .img5 p{
    position: absolute;
    top: 80%;
    left: 20px;
}  */
.img6{
    background-image: url(./2\ pro\ img/2pro7.jpeg);
    position: relative;
    background-repeat: no-repeat;

} 
/* .img6 p{
    position: absolute;
    top: 80%;
    left: 20px;
} */
.img7{
    background-image: url(./2\ pro\ img/2pro8.jpeg);
    position: relative;
    background-repeat: no-repeat;


}   
/* .img7 p{
    position: absolute;
    top: 80%;
    left: 20px;
} */
.img8{
    background-image: url(./2\ pro\ img/2pro9.jpeg);
    position: relative;
    background-repeat: no-repeat;

} 
/* .img8 p{
    position: absolute;
    top: 80%;
    left: 20px;
}  */
.grid p{
    position: absolute;
    top: 70%;
    left: 20px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 760px)  {
    .grid p{
        left: 5px;
        top: 260px;
    }
}

/* .lastpart{
    background-color: black;
    display: flex;
} */
.lastpart1{
    border: 3px solid rgb(12, 11, 11);
    width: 1330px;
    /* padding-left: 120px; */
    background-color: black;
    display: flex;
}
@media (max-width: 760px) {
    .lastpart1{
        width: 1080px;

    }
}
.lastpart1 h1{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    padding-left: 60px;
    position: relative;
    top: 15px; 

}
.inin ul li, a{
    list-style-type: none;
    display: inline-block;
    /* padding-top: 5px; */
    padding-right: 5px; 
    text-decoration: none;
    color: white;
    position: relative;
    top: 20px;
    left: 330px;
}
@media (max-width: 760px) {
    .inin ul li, a{
        position: relative;
        left: 215px;
        top: 20px;

    }
}
/* .people h4{
    color: gray;
    position: relative;
    left: 400px;
    top: 50px;
} */
  
/* @media (max-width:700px) {
    .background {
       width: 87%;
       background-repeat: no-repeat;
       /* border: 2px solid green; */
    
    /* .flexleft{
        padding-left: 10px;
    }
    .flexright{
        padding-left: 550px;
    }
    .flexright ul li, a{
        list-style-type: none;
        display: inline-block;
        text-decoration: none;
        color: rgb(250, 249, 249);
        position: relative;
        right: 100px;

    }
    .sec1bood{
        width: 270px;
        position: relative ;
        bottom: 160px;
    }
    .sec1bood h2{
        font-size: 25px;
    }
    .sec2right img{
        font-size: -40px;
       position: relative;
       bottom: 300px;
       left: -70px;
    }
}  */

/* @media (min-width:481px) {
     .grid img{
        font-size: 1rem;
        width: 50%;
        height: 10rem;
        background-color: white;
    } 

    .sec2 .sec2right img{
        width: 55rem;
        padding-left: 60px;
    }
    .sec2left{
        width: 45rem;
        height: 20rem;
        position: relative;
        top: -26rem;
        left: 40rem;
        font-size: 25px;
    }
    .sethree{
        position: relative;
        bottom: 25rem;
    }        
    .sethree button{
        width: 150px;
        position: relative;
        right: 80px;
    }
    .sethree h1{
        width: 360px;
    }
    .secfour .grid{
        background-color: white;
        width: 70rem;
        height: 58rem;
        position: relative;
        top: -20rem;
    }
    .lastpart1 h1 .inin .people{
        /* background-color: black; */
        /* width: 220%;
        position: relative;
        bottom: 990ram; */
        /* top: -10rem; */
    }
} 